body {
    margin: 0;
}

.container {
    display : grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap : 1rem;
    background-color: rgb(243, 213, 213);
}

.item {
    background-color: rgba(255, 0, 0, 0.7);
}

.item:nth-child(odd) {
    background-color: rgba(255, 255, 0, 0.8);
}